* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(to right,#672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  max-height: 140%;
  margin-right: 10px;
}

.header--title {
  font-size: 25px;
  margin-right: auto;
}

.header--project {
  font-size: 17px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  border-radius: 5px;
  background: linear-gradient(to right,#672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
  margin-top: 25px;
  /* height: auto; */
}

/* HELP HOW DO I CENTER THE IMAGE ;-; */
.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  height: 500px;
  width: 500px;
}

.meme--text {
  position: absolute;
  width: 100%;
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 4px 4px black;
}

.meme--text.top {
  top: 10px;
}

.meme--text.bottom {
  bottom: 1px;
}
